.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: #E9E9E9;
    border-radius: 8px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px) {
        & {
            margin-top: -75px;
        }
    }

    @media screen and (max-width: 820px) {
        & {
            margin-top: 0;
            padding: 10px;
        }
    }
}